
[submodule "net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "api/mavlink"]
	path = api/mavlink
	url = https://github.com/Dronesmith-tech/mavlink.git
[submodule "api/dronekit"]
	path = api/dronekit
	url = https://github.com/Dronesmith-tech/dronekit-python.git
