<div class="container">
<div class="form-wrapper">
  <header>
    <hgroup class="text-center">
      <h1>Welcome to Luci</h1>
      <h3>Initial Setup</h3>
    </hgroup>
  </header>
  <img src="/resource/logo.png" id="logo">
  <div ng-switch="SetupStep">

    <!-- Name and WiFi -->
    <div ng-switch-when="setupInitial">
      <form name="activateForm" ng-model="netdata" ng-hide="HideConnect">
        <h4 class="text-center ins">
          Name and Network
        </h4>
        <div class="form-item">
          <label for="name">Name must be at least 4 characters.</label>
          <input
            type="text"
            name="name"
            ng-model="netdata.name"
            placeholder="Leave blank for default name (luci).">
        </div>

        <div class="form-item">
          <label for="name">Choose WiFi network</label>
          <select class="form-control" ng-options="name as name for (name, security) in aps" ng-model="netdata.ap" required></select>
        </div>

        <div class="form-item" ng-show="aps[netdata.ap] == 'WEP' || aps[netdata.ap] == 'WPA-PSK' || aps[netdata.ap] == 'WPA-EAP'">
          <input
            type="password"
            name="password"
            ng-model="netdata.password"
            ng-required="aps[netdata.ap] == 'WEP' || aps[netdata.ap] == 'WPA-PSK' || aps[netdata.ap] == 'WPA-EAP'"
            placeholder="Network Password"
            ng-validate="">
        </div>

        <div class="form-item" ng-show="aps[netdata.ap] == 'WPA-EAP'">
          <input
            type="username"
            name="username"
            ng-model="netdata.username"
            ng-required="aps[netdata.ap] == 'WPA-EAP'"
            placeholder="Network Username"
            ng-validate="">
        </div>

        <div class="button-panel" ng-hide="submitted">
          <input
            type="submit"
            class="button"
            ng-click="submitStep1(netdata)"
            title="Connect"
            ng-disabled="!activateForm.$valid"
            value="Connect">
        </div>

        <div ng-show="submitted">
          <img class="center-block img-responsive" width="50px" height="50px" alt="activating..." src="/resource/loader.gif">
        </div>
      </form>

      <p class="lead text-center" ng-show="responseError">{{responseError}}</p>
    </div>

    <!-- Dronesmith Account Info -->
    <div ng-switch-when="setupWifi">
      <form name="activateForm">
          <h4 class="text-center ins">
            Please enter your Dronesmith Cloud account.
          </h4>
          <em>Don't have an <a href="http://stage.dronesmith.io/#!/login/signup" target="_blank">account</a>?</em>
          <br>
        <div class="form-item" ng-model="cloudData">
          <label for="email"></label>
          <input
            type="email"
            name="email"
            ng-model="cloudData.email"
            required
            placeholder="Email Address">
        </div>
        <div class="form-item">
          <label for="password"></label>
          <input
            type="password"
            name="password"
            ng-model="cloudData.password"
            required
            placeholder="Password"
            ng-pattern="/^(?=.*[a-z]).{8,20}$/"
            ng-validate="">
        </div>
        <div class="button-panel" ng-hide="submitted">
          <input
            type="submit"
            class="button"
            ng-click="submit(cloudData)"
            title="Activate"
            ng-disabled="!activateForm.$valid"
            value="Activate">
        </div>

        <div ng-show="submitted">
          <img class="center-block img-responsive" width="50px" height="50px" alt="activating..." src="/resource/loader.gif">
        </div>
      </form>

      <p class="lead text-center" ng-show="responseError">{{responseError}}</p>
    </div>

    <!-- Initial loading -->
    <div ng-switch-when="setupDss">
      <p class="lead text-center">Loading...</p>
    </div>
  </div>

  <div class="form-footer">
  </div>
</div>
</div>
