<div class="disconnectBanner" ng-show="noConnect">
  <p class="text-center">Uh oh, Luci has become unresponsive. Please make sure you are within range of your Luci.</p>
</div>

<div class="container-fluid" >
<div class="form-wrapper" ng-init="toggleRaw=false;">
<header>
  <h1>Luci: Under the Hood</h1>
  <h5>(You're going to do great things today)</h5>
</header>
  <hr>

  <div class="text-right">
    <button class="btn btn-sm btn-warning" href="" ng-click="logout()">Logout</button>
  </div>
  <form name="outputForm">
    <fieldset class="form-group">
      <label>Output MAVLink to this address</label>
      <input
        type="text"
        class="form-control input-sm"
        placeholder="0.0.0.0:14551"
        ng-model="out"
        name="out"
        required
        ng-pattern="/^(((\d{1,3}\.){3}\d{1,3})|localhost):\d{1,5}$/">
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" ng-disabled="outputForm.$invalid" class="btn btn-default btn-sm" ng-click="API.addOutput(out)" value="Add" />
    </fieldset>
  </form>

  <div class="text-center">
  <a href="" ng-click="toggleRaw = !toggleRaw">Toggle Raw Telemetry</a>
</div>

  <div ng-hide="toggleRaw">

<ul class="list-group" ng-init="
  linkCollapsed = true;
  cmdCollapsed = true;
  powerCollapsed = true;
  sensorsCollapsed = true;
  attEstCollapsed = true;
  attCtrlCollapsed = true;
  rcCollapsed = true;
  lpeCollapsed = true;
  gpsCollapsed = true;
  globalPosEstCollapsed = true;
  globalPosCtrlCol = true;
  altCollapsed = true;
  servoCollapsed = true;

">

<li class="list-group-item">
  <h4>
    <span class="pull-left status-icons"><img src="resource/icons/png/dc_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
    Dronesmith Cloud
    <span class="pull-right ng-class:cloud.status"></span>
  </h4>
</li>

  <li class="list-group-item" ng-click="linkCollapsed = !linkCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/flightcon_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Flight Controller
      <span class="pull-right ng-class:link.status"></span>
    </h4>

    <div uib-collapse="link.status != 'online' || linkCollapsed">
      <hr>
      <h4>Status: {{link.data.status}}</h4>

      <p>Armed <span class="pull-right">{{link.data.Armed}}</span></p>
      <p>Manual Control <span class="pull-right">{{link.data.ManualCtrl}}</span></p>
      <p ng-show="link.data.SimMode == 'TRUE'">Simulated Flight Core <span class="pull-right">{{link.data.SimMode}}</span></p>
      <p>Stabilization Enabled <span class="pull-right">{{link.data.Stabilization}}</span><p>
      <p>Guided Mode <span class="pull-right">{{link.data.Guided}}</span></p>
      <p>Autonomous Mode <span class="pull-right">{{link.data.Auto}}</span></p>
      <p ng-show="link.data.DevMode == 'TRUE'">Debug Mode <span class="pull-right">{{link.data.DevMode}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="cmdCollapsed = !cmdCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/flightcom_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Flight Commander
      <span class="pull-right ng-class:flightData.status"></span>
    </h4>

    <div uib-collapse="flightData.status != 'online' || cmdCollapsed">
      <hr>
      <p>Air Speed <span class="pull-right">{{flightData.data.Airspeed | number:'3'}}</span></p>
      <p>Ground Speed <span class="pull-right">{{flightData.data.Groundspeed | number:'3'}}</span></p>
      <p>Altitude <span class="pull-right">{{flightData.data.Alt | number:'3'}}</span></p>
      <p>Climb Rate <span class="pull-right">{{flightData.data.Climb | number:'3'}}</span></p>
      <p>Heading <span class="pull-right">{{flightData.data.Heading | number}}</span></p>
      <p>Throttle <span class="pull-right">{{flightData.data.Throttle | number}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="powerCollapsed = !powerCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/power_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Power
      <span class="pull-right ng-class:power.status"></span>
    </h4>

    <div uib-collapse="power.status != 'online' || powerCollapsed">
      <hr>
      <p>Remaining Charge <span class="pull-right">{{power.data.remaining != -1 ? power.data.remaining + '%' : 'OUTLET'}}</span></p>
      <p>Type <span class="pull-right">{{power.data.type}}</span></p>
      <p>Use <span class="pull-right">{{power.data.purpose}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="sensorsCollapsed = !sensorsCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/sensor_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Sensors
      <span class="pull-right ng-class:sensors.status"></span>
    </h4>

    <div uib-collapse="sensors.status != 'online' || sensorsCollapsed">
      <hr>
      <p>Gyroscope (rads/sec) <span class="pull-right">{{sensors.data.Xgyro | number:'3'}} {{sensors.data.Ygyro | number:'3'}} {{sensors.data.Zgyro | number:'3'}}</span></p>
      <p>Accelerometer (meters/sec<sup>2</sup>) <span class="pull-right">{{sensors.data.Xacc | number:'3'}} {{sensors.data.Yacc | number:'3'}} {{sensors.data.Zacc | number:'3'}}</span></p>
      <p>Compass (gauss) <span class="pull-right">{{sensors.data.Xmag | number:'3'}} {{sensors.data.Ymag | number:'3'}} {{sensors.data.Zmag | number:'3'}}</span></p>
      <p>Altitude (meters) <span class="pull-right">{{sensors.data.PressureAlt | number:'3'}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="servoCollapsed = !servoCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/motor_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Motors
      <span class="pull-right ng-class:servos.status"></span>
    </h4>

    <div uib-collapse="servos.status != 'online' || servoCollapsed">
      <hr>
      <p ng-repeat="(key, val) in servos.data.servos track by $index">Motor PWM {{key+1}} <span class="pull-right">{{val}}</span></p>
      <p ng-repeat="(key, val) in servos.data.targets track by $index">Motor Target {{key+1}} <span class="pull-right">{{val | number:'3'}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="attEstCollapsed = !attEstCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/attest_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Attitude Estimator
      <span class="pull-right ng-class:attEst.status"></span>
    </h4>

    <div uib-collapse="attEst.status != 'online' || attEstCollapsed">
      <hr>
      <p>Roll <span class="pull-right">{{attEst.data.Roll | number:'3'}}deg</span></p>
      <p>Pitch <span class="pull-right">{{attEst.data.Pitch | number:'3'}}deg</span></p>
      <p>Yaw <span class="pull-right">{{attEst.data.Yaw | number:'3'}}deg</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="attCtrlCollapsed = !attCtrlCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/attcon_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Attitude Controller
      <span class="pull-right ng-class:attCtrl.status"></span>
    </h4>

    <div uib-collapse="attCtrl.status != 'online' || attCtrlCollapsed">
      <hr>
      <p>Roll Amount <span class="pull-right">{{attCtrl.data.BodyRollRate | number:'3'}}deg/sec</span></p>
      <p>Pitch Amount <span class="pull-right">{{attCtrl.data.BodyPitchRate | number:'3'}}deg/sec</span></p>
      <p>Yaw Amount <span class="pull-right">{{attCtrl.data.BodyYawRate | number:'3'}}deg/sec</span></p>
      <p>Thrust <span class="pull-right">{{attCtrl.data.Thrust | number:'3'}}meters/sec</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="altCollapsed = !altCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/alt_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Altitude
      <span class="pull-right ng-class:alts.status"></span>
    </h4>

    <div uib-collapse="alts.status != 'online' || altCollapsed">
      <hr>
      <p>Mean Sea Level Altitude <span class="pull-right">{{alts.data.AltitudeAmsl | number:'3'}}</span></p>
      <p>Local Altitude <span class="pull-right">{{alts.data.AltitudeLocal | number:'3'}}</span></p>
      <p>Terrain Level <span class="pull-right">{{alts.data.AltitudeTerrain}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="rcCollapsed = !rcCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/rc_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Radio Control
      <span class="pull-right ng-class:rc.status"></span>
    </h4>

    <div uib-collapse="rc.status != 'online' || rcCollapsed">
      <hr>
      <p ng-repeat="(key, val) in rc.data">{{key}} <span class="pull-right">{{val}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="lpeCollapsed = !lpeCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/localpos_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Local Position Estimator
      <span class="pull-right ng-class:lpe.status"></span>
    </h4>

    <div uib-collapse="lpe.status != 'online' || lpeCollapsed">
      <hr>
      <p>Position (meters) <span class="pull-right">{{lpe.data.X | number:'3'}} {{lpe.data.Y | number:'3'}} {{lpe.data.Z | number:'3'}}</span></p>
      <p>Velocity (meters/sec) <span class="pull-right">{{lpe.data.Vx | number:'3'}} {{lpe.data.Vy | number:'3'}} {{lpe.data.Vz | number:'3'}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="gpsCollapsed = !gpsCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/gps_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      GPS
      <span class="pull-right ng-class:gps.status "></span>
          </h4>

      <div uib-collapse="gps.status != 'online' || gpsCollapsed">
        <hr>
        <p>Raw Latitude <span class="pull-right">{{gps.data.Lat | number}}</span></p>
        <p>Raw Longitude <span class="pull-right">{{gps.data.Lon | number}}</span></p>
        <p>Base Altitude <span class="pull-right">{{gps.data.Alt | number}}</span></p>
        <p>Visible Satellites <span class="pull-right">{{gps.data.SatellitesVisible | number}}</span></p>
      </div>
  </li>

  <li class="list-group-item" ng-click="globalPosEstCollapsed = !globalPosEstCollapsed">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/gpsest_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Global Position Estimator
      <span class="pull-right ng-class:globalPosEst.status"></span>
    </h4>

    <div uib-collapse="globalPosEst.status != 'online' || globalPosEstCollapsed">
      <hr>
      <p>Latitude <span class="pull-right">{{globalPosEst.data.lat | number}}</span></p>
      <p>Longitude <span class="pull-right">{{globalPosEst.data.lon | number}}</span></p>
      <p>Relative Altitude <span class="pull-right">{{globalPosEst.data.relativeAlt | number}}</span></p>
      <p>Velocity (meters/sec) <span class="pull-right">{{globalPosEst.data.velx | number}} {{globalPosEst.data.vely | number}} {{globalPosEst.data.velz | number}}</span></p>
      <p>Satellites <span class="pull-right">{{globalPosEst.data.sats}}</span></p>
    </div>
  </li>

  <li class="list-group-item" ng-click="globalPosCtrlCol = !globalPosCtrlCol">
    <h4>
      <span class="pull-left status-icons"><img src="resource/icons/png/poscon_128.png" alt="Dronesmith Cloud" width="32" height="32"></span>
      Position Controller
      <span class="pull-right ng-class:globalPosCtrl.status "></span>
          </h4>

      <div uib-collapse="globalPosCtrl.status != 'online' || globalPosCtrlCol">
        <hr>
        <p>Target Altitude <span class="pull-right">{{globalPosCtrl.data.Alt | number}}</span></p>
        <p>Target Yaw <span class="pull-right">{{globalPosCtrl.data.Yaw | number}}</span></p>
        <p>Target Velocity <span class="pull-right">{{globalPosCtrl.data.Vx | number}} {{globalPosCtrl.data.Vy | number}} {{globalPosCtrl.data.Vz | number}}</span></p>
      </div>
  </li>
</ul>
</div>

  <div ng-show="toggleRaw">
    <pre>{{statusData | json}}</pre>
  </div>

</div>
</div>
