<section id="wifi">
  <div class="form-wrapper">
  <form name="activateForm" ng-model="netdata" ng-hide="HideConnect">
    <h4 class="text-center ins">
      Enter a new network and name
    </h4>
    <div class="form-item">
      <label for="name">Name must be at least 4 characters.</label>
      <input
        type="text"
        name="name"
        ng-model="netdata.name"
        placeholder="Leave blank to keep original name.">
    </div>

    <div class="form-item">
      <label for="name">Choose WiFi network</label>
      <div ng-show="netdata.ap.length > 0">
        <select class="form-control" ng-options="name as name for (name, security) in aps" ng-model="netdata.ap" required></select>
      </div>
      <div ng-show="netdata.ap.length == 0">
        <p>No Wifi networks detected. Hold the Edison's power button to boot the Edison in AP mode.</p>
      </div>
    </div>

    <div class="form-item" ng-show="aps[netdata.ap] == 'WEP' || aps[netdata.ap] == 'WPA-PSK' || aps[netdata.ap] == 'WPA-EAP'">
      <input
        type="password"
        name="password"
        ng-model="netdata.password"
        ng-required="aps[netdata.ap] == 'WEP' || aps[netdata.ap] == 'WPA-PSK' || aps[netdata.ap] == 'WPA-EAP'"
        placeholder="Network Password"
        ng-validate="">
    </div>

    <div class="form-item" ng-show="aps[netdata.ap] == 'WPA-EAP'">
      <input
        type="username"
        name="username"
        ng-model="netdata.username"
        ng-required="aps[netdata.ap] == 'WPA-EAP'"
        placeholder="Network Username"
        ng-validate="">
    </div>

    <div class="button-panel" ng-hide="submitted">
      <input
        type="submit"
        class="button"
        ng-click="submitStep1(netdata)"
        title="Connect"
        ng-disabled="!activateForm.$valid"
        value="Connect">
    </div>

    <div ng-show="submitted">
      <img class="center-block img-responsive" width="50px" height="50px" alt="activating..." src="/resource/loader.gif">
      <p class="lead text-center">Please wait for 30 seconds, then refresh the page.</p>
    </div>
  </form>

  <p class="lead text-center" ng-show="responseError">{{responseError}}</p>
  </form>
</div>
</section>
